In [7]:
print("THE RASH")

THE RASH

In [8]:
print("the rash")

the rash

In [9]:
# print('now i need money')
# input()

In [10]:
input('give me some money: ')
print("money")

money

In [11]:
num1 = 44
num2 = 5
 
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

print(10/3)
print(10%3)
print(10//3)

49
39
220
8.8
3.3333333333333335
1
3

In [12]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

function

In [13]:
def double_it(num):
    result = num * 2
    print(result)
double_it(8)
double_it(88)

def sum(num1, num2):
    return num1 + num2
    return result
total = sum(44,89)
print(total)

16
176
133

In [14]:
def sum(num1, num2):
    result = num1+ num2
    return result
total = sum(44,89)
print(total)

133

In [15]:
def full_name(first, last):
    name  = f'{first} {last}'
    return name
    
name = full_name('rashid', 'khan')
print(name)
 
def famous_name = (first,last,title,addition):
    name = f'{title} {first} {last} '
    return name

SyntaxError: expected '(' (316899758.py, line 8)

In [ ]:
balance = 5000
def buy_thing(item, price):
    balance = balance - price
    print("balance inside the function:", balance)
buy_thing('laptop', 2000)

balance inside the function: 5000

built_in_function

In [ ]:
highest = max([45,87,65,90,32,34])
print([highest])

[90]

In [ ]:
highest = max(45,87,65,90,32,34)
smallest = min(45,87,65,90,32,34)
total = sum([45,87,65,90,32,34])
print(highest, smallest, total)

TypeError: sum() missing 1 required positional argument: 'num2'

list

In [ ]:
num = [10,20,34,56,78, 90, 100, 150]
len(num)

8

In [ ]:
print(num[5])

90

In [ ]:
print(num[2:6])

[34, 56, 78, 90]

In [ ]:
print(num[1:8:1])

[20, 34, 56, 78, 90, 100, 150]

In [ ]:
print(num[:])

[10, 20, 34, 56, 78, 90, 100, 150]

In [ ]:
print([num[::-1]])

[[150, 100, 90, 78, 56, 34, 20, 10]]

In [ ]:
numbers = [10,20,30,40,50]
numbers.append(60)
print(numbers)
# numbers.insert(2, 25)
# print(numbers)

numbers.remove(30)
print(numbers)

[10, 20, 30, 40, 50, 60]
[10, 20, 40, 50, 60]

In [ ]:
index = numbers.index(20)
print(index)

1

In [ ]:
numbers.sort
print(numbers)

[10, 20, 40, 50, 60]

In [ ]:
numbers = [56,23,89,12,5,78, 90, 45, 34]
odd = []
for numbers in numbers:
    if numbers %2 == 1 and numbers % 5 == 0:
        odd.append(numbers)
print(odd)
odd_numbers = [numbers for numbers in numbers]
print(odd_numbers)

[5, 45]

TypeError: 'int' object is not iterable

In [ ]:
numbers =[7,8,5,4,3,2,4]
print(numbers[::-1])

[4, 2, 3, 4, 5, 8, 7]

In [ ]:
name = 'rasidul\'s khan'
name2= "rasidul khan"

name3 = """ 
This is a multi line string.
I am learning python programming."""

print(name)

for char in name2:
    print(char)
    
#print(name2[5])
# print(name2[2:7])
# print(name2[-2:])
# print(name2[::-1])

if 'rashid' in name2:
    print("found")
print(name2.upper())

rasidul's khan
r
a
s
i
d
u
l

k
h
a
n
RASIDUL KHAN

In [ ]:
def multiple():
    return 4,5
print(multiple())

(4, 5)

In [ ]:
numbers = [12,33,78,90,45, 67,89]
print(numbers)
numbers_set = set(numbers)
print(numbers_set)

[12, 33, 78, 90, 45, 67, 89]
{33, 67, 12, 45, 78, 89, 90}

In [ ]:
for item in numbers_set:
    print(item)

33
67
12
45
78
89
90

In [ ]:
if 9 in numbers_set:
    print("found")
elif 45 in numbers_set:
    print("46 found")
else:
    print("not found")

46 found

In [ ]:
numbers = [12,33,78,90,45, 67,89]
person = ['rashid', 'khan', 25, 'bangladesh']

person = {'name': 'rashid', 'country': 'bangladesh', 'age': 25 }
print(person)

{'name': 'rashid', 'country': 'bangladesh', 'age': 25}

In [ ]:
name = person['name']
print(name)

rashid

In [ ]:
print(person.keys())

dict_keys(['name', 'country', 'age'])

In [ ]:
from math import*
# result = ceil(4.2)
result = floor(4.7) 

print(result)

4

In [ ]:
from random import*
print(random())
print(randint(1,100))
print(choice(['apple', 'banana', 'mango']))

0.5656248634140136
66
banana

exception

In [ ]:
try:
    result = 45/5
except :
    print("an error occurred")
    
finally:
    print('finally block executed ')

print('done')

finally block executed
done

lambda function

In [ ]:
# def double(x):
#     return x * 2   
double = lambda num : num * 2

result = double(5)
print(result)

10

In [18]:
# Input
n = int(input())
A = list(map(int, input().split()))

# Check if palindrome
if A == A[::-1]:
    print("YES")
else:
    print("NO")

YES